.infobox {
	background: #fff;
	font-family: arial;
	position: absolute;
	border:1px solid #d0d2d5;
	padding:0;
	width:348px;
	height:180px;
	box-shadow:0 0 10px -5px rgba(0,0,0,0.9);
	-moz-box-shadow:0 0 10px -5px rgba(0,0,0,0.9);
	-o-box-shadow:0 0 10px -5px rgba(0,0,0,0.9);
	-webkit-box-shadow:0 0 10px -5px rgba(0,0,0,0.9)
}
.infobox .sidearrow {
    background: url("../images/side-arrow.png") no-repeat 0 0;
    position: absolute;
	width:19px;
	height:38px;
	left:-19px;
	top:30px;
}
.infobox .content {
	margin:0;
	color: #8b8b8b;
}
.infobox .content .infobox-left {
	width:109px;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	bottom:0;
	padding: 0 0 5px 0;
	border-right:1px solid #d0d2d5;
}
.infobox .content .infobox-left .small-info {
	border:none;
	width:auto;
}
.infobox .content .infobox-right {
	width:201px;
	height:100%;
	position:absolute;
	top:0;
	left:110px;
	bottom:0;
	padding: 8px 0;
}
.infobox .content .infolink {
	background-color:#d21258;
	position:absolute;
	top:0;
	bottom:0;
	right:0;
	width:35px;
	height:100%;
}
.infobox .content .infolink a {
	background-image:url('../images/link-arrow.png');
	background-position:50% 50%;
	background-repeat:no-repeat;
	display:block;
	width:100%;
	height:100%;
	cursor:pointer;
}