/*!
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

/* Toggle Styles */
html, body {
	overflow:hidden;
}

#wrapper {
	padding-left: 0;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}#wrapper.toggled {
	padding-left: 655px;
}

#sidebar-wrapper {
	z-index: 1000;
	position: fixed;
	left: 250px;
	width: 0;
	height: 100%;
	margin-left: -250px;
	overflow-y: hidden;
	overflow-x: hidden;
	background: #730630;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}#wrapper.toggled #sidebar-wrapper {
	width: 655px;
}
#sidebar-wrapper .tab-pane {
	margin-left: 1px;
    padding: 15px 0;
}

#page-content-wrapper {
	width: 100%;
	height:100%;
	position: absolute;
}#wrapper.toggled #page-content-wrapper {
	position: absolute;
	margin-right: -250px;
}

/* Sidebar Styles */
.sidebar-nav {
	position: absolute;
	top: 0;
	width: 250px;
	margin: 0;
	padding: 0;
	list-style: none;
}
.sidebar-nav li {
	text-indent: 20px;
	line-height: 40px;
}
.sidebar-nav li a {
	display: block;
	text-decoration: none;
	color: #999999;
}
.sidebar-nav li a:hover {
	text-decoration: none;
	color: #fff;
	background: rgba(255,255,255,0.2);
}
.sidebar-nav li a:active,
.sidebar-nav li a:focus {
	text-decoration: none;
}
.sidebar-nav > .sidebar-brand {
	height: 65px;
	font-size: 18px;
	line-height: 60px;
}
.sidebar-nav > .sidebar-brand a {
	color: #999999;
}
.sidebar-nav > .sidebar-brand a:hover {
	color: #fff;
	background: none;
}

@media(min-width:768px) {
	#wrapper {
		padding-left: 655px;
	}
	#wrapper.toggled {
		padding-left: 0;
	}

	#sidebar-wrapper {
		width: 655px;
	}
	#wrapper.toggled #sidebar-wrapper {
		width: 0;
	}

	#page-content-wrapper {
		padding: 20px;
	}
	#wrapper.toggled #page-content-wrapper {
		margin-right: 0;
	}
}

.logo {
	display:block;
	margin:0 auto;
	padding:10px 0 10px 0;
}

.form-control {
	width:170px!important;
	height:34px!important;
	border:1px solid #d0d2d5!important;
	background:url(../images/icons/search.png) no-repeat 140px 50% transparent;
}
.location {
	background-color:#fff;
	border-right:1px solid #d0d2d5;
	padding:15px 15px 48px;
}
.search-box .location > h4 {
    margin-bottom: 40px;
}
.price {
	border-right:1px solid #d0d2d5;
	padding:10px 15px 48px;
}
.search-box .price > h4 {
    margin-bottom: 40px;
}
.facility{
	padding:10px 15px 0 15px;
}
.facility label span{
	font-size:12px;
	color:#8b8b8b;
	font-family:'Lato';
	margin-bottom:5px;
	margin-left:-3px;
}
.price h2{
	font-family:'Lato';
	font-size:18px;
	color:#8b8b8b;
	margin:0;
	padding:0;
	padding-bottom:15px;
}
.search-box h4 {
	font-family:'Lato';
	font-size:14px;
	color:#8b8b8b;
	padding-bottom:15px;
	width:100%;
	height:100%;
}
.search-box .facility h4 {
	margin-bottom:0;
}
.search-box {
	margin-left:15px;
	margin-right:15px;
	border:1px solid #d0d2d6;
	background-color:#fff;
	height:179px;
	/*width:624px;*/
}
.bar input {
	height:4px!important;
	background-color:transparent!important;
	border:2px solid #e8eaee!important;
	width:150px;
}
.custom-check{
	height:16px;
	border:1px solid #d0d2d5!important;
	border-radius:3px!important;
	background-color:#fff!important;
}
.result{
	background-color:#fff;
	outline:1px solid #d0d2d6;
	padding:10px;
	margin-top:-2px;
	padding:0;
	width:100%;
	margin-bottom:10px;
}
.result h2{
	font-family:'Lato';
	font-size:16px;
	font-weight:300;
	text-align:center;
	padding:10px;
	margin:0;
}
.search-result{
	border: 1px solid #d0d2d5;
	background-color:#fff;
	display:inline-block;
	padding:0;
	margin:0 15px;
}
.small-gallery i{
	font-size:13px;
	line-height:20px;
	margin-bottom:5px;
	text-align:center;
	vertical-align:middle;
}
.small-gallery {
	padding:0;
	width:300px;
}
.carousel {
	margin:0;
}
.carousel-control {
	background-color: red;
	height: 28px;
	opacity: 1;
	width: 30px;
}
.color-masaj {
	color:#560f2c!important;
}
.bg-color-masaj {
	background-color:#560f2c!important;
}
.color-shop {
	color:#db504b!important;
}
.bg-color-shop {
	background-color:#db504b!important;
}
.color-night {
	color:#4ac4ad!important;
}
.bg-color-night {
	background-color:#4ac4ad!important;
}
.verified {
	border: 2px solid #00c734;
	background: url("../images/verified-small.png") no-repeat scroll 99% 5px #fff;
}
.not-verified {
	border:2px solid #8b8b8b;
}
.verified-big {
	background: url("../images/verified-big.png") no-repeat scroll 0 0 #00c734;
	height: 140px;
    position: absolute;
    right: 0;
    width: 125px;
    z-index: 9999;
}
.small-info {
	width:116px;
	padding:0;
	margin:0;
	border-right:1px solid #d0d2d5;
	max-height:180px;
}
.small-info h2 {
	font-family:'Lato';
	font-weight:200;
	font-size:36px;
	margin:0;
	padding:0;
	padding-top:5px;
	text-align:center;
}
.small-info h2 span {
	font-family:'Lato';
	font-weight:400!important;
	font-size:12px;
	margin-left:5px;
}
.price-info {
	height:auto;
}
.price-info p {
	text-align:center;
	font-size:14px;
	color:#bbbbbb;
	font-family:'Lato';
	font-weight:300;
}
.distance-info {
	height:100px;
	border-bottom:1px solid #d0d2d5;
	padding-right:0;
	padding-left:0;
	width:100%;
}
.distance-info span {
	text-align:center;
	font-size:14px;
	color:#bbbbbb;
	font-family:'Lato';
	font-weight:300;
	margin:0 auto;
	display:block;
	padding-top:0;
}
.distance-info h2 i {
	font-size:30px;
	margin-left:5px;
}
.distance-info .open {
	font-size:9px;
	background-color:#00c734;
	color:#fff;
	text-align:center;
	width:55px;
	padding:3px;
	letter-spacing:1px;
	margin:0 auto;
	line-height:normal;
}
.distance-info .closed {
	font-size:9px;
	background-color:#000;
	color:#fff;
	text-align:center;
	width:55px;
	padding:3px;
	letter-spacing:1px;
	margin:0 auto;
}
.large-info {
	width:200px;
	margin:0;
	padding:0;
	height:180px;
	position:relative;
}
.large-info h2 {
	font-family:'Lato';
	font-size:16px;
	padding:5px 0 0 10px;
	margin:0;
	font-weight:700;
	line-height:normal;
}
.large-info p {
	font-family:'Lato';
	font-size:12px;
	padding:5px 0 0 10px;
	margin:0;
	font-weight:400;
	color:#d5d9de;
	line-height:normal;
}
.large-info p::last-child{
	padding-top:10px;
}
.large-info span{
	background-color:#d5d9de;
	color:#fff;
	padding:4px;
	width:100%;
	position:absolute;
	bottom:-1px;
	right:0;
	display:block;
	text-align:center;
}
.large-info span i{
	line-height:20px;
}
.large-info span a{
	text-decoration:none;
	color:#fff;
	width:100%;
	font-size:12px;
	display:block;
	text-align:center;
}
.editable-tabs {
	no-remove:15px;
	border:1px solid #000;
	outline:1px solid red;
}
.large-info ul {
	padding:0;
	margin:0;
	margin:12px 0px 12px 5px;
	line-height:normal;
}
.m-top-10 {
	margin-top:10px;
}

/* MASAJ SALON -> VERTICAL TABS */
#salonModal div.bhoechie-tab-container {
	z-index: 10;
	background-color: #eaebed;
	padding: 0 !important;
	border:1px solid #ddd;
	background-clip: padding-box;
	width:945px;
	border:0;
}
#salonModal div.bhoechie-tab-menu{
	background-color:#d21258;
}
#salonModal div.bhoechie-tab-menu ul.nav {
	margin:0;
	padding:0;
}
#salonModal div.bhoechie-tab-menu ul.nav > li {
	float:none;
	margin: 0;
}
#salonModal div.bhoechie-tab-menu ul.nav > li > a .glyphicon,
#salonModal div.bhoechie-tab-menu ul.nav > li > a .fa {
	color: #5A55A3;
}
#salonModal div.bhoechie-tab-menu ul.nav > li > a:first-child {
	border-top-right-radius: 0;
	-moz-border-top-right-radius: 0;
	border-top-left-radius:0;
	-moz-border-top-left-radius:0
}
#salonModal div.bhoechie-tab-menu ul.nav > li > a:last-child {
	border-bottom-right-radius: 0;
	-moz-border-bottom-right-radius: 0;
}
#salonModal div.bhoechie-tab-menu ul.nav > li > a > h4 {
	font-family:'Lato';
	font-size:15px;
	font-weight:300;
}
#salonModal div.bhoechie-tab-menu ul.nav > li.active > a,
#salonModal div.bhoechie-tab-menu ul.nav > li.active > a .glyphicon,
#salonModal div.bhoechie-tab-menu ul.nav > li.active > a .fa {
	background-color: #560f2c;
	background-image: #560f2c;
	color: #ffffff;
}
#salonModal div.bhoechie-tab-menu ul.nav > li > a {
	background-color: #d21258;
	background-image: #d21258;
	color: #ffffff;
}
#salonModal .profile-name h2 {
	color:#d21258;
}
#salonModal .profile-name h6 i{
	color:#d21258;
}
#salonModal .profile-data h2{
	color:#d21258;
}
#salonModal .profile-box h5{
	color:#d21258;
}
#salonModal .service-footer table,
#shopModal .service-footer table,
#clubModal .service-footer table {
	border:2px solid #d21258;
}
/* MASAJ SALON -> VERTICAL TABS END */

/* SEX SHOP -> VERTICAL TABS */
#shopModal div.bhoechie-tab-container {
	z-index: 10;
	background-color: #eaebed;
	padding: 0 !important;
	border:1px solid #ddd;
	background-clip: padding-box;
	width:945px;
	border:0;
}
#shopModal div.bhoechie-tab-menu{
	background-color:#DB504B;
}
#shopModal div.bhoechie-tab-menu ul.nav {
	margin:0;
	padding:0;
}
#shopModal div.bhoechie-tab-menu ul.nav > li {
	float:none;
	margin: 0;
}
#shopModal div.bhoechie-tab-menu ul.nav > li > a .glyphicon,
#shopModal div.bhoechie-tab-menu ul.nav > li > a .fa {
	color: #5A55A3;
}
#shopModal div.bhoechie-tab-menu ul.nav > li > a:first-child {
	border-top-right-radius: 0;
	-moz-border-top-right-radius: 0;
	border-top-left-radius:0;
	-moz-border-top-left-radius:0
}
#shopModal div.bhoechie-tab-menu ul.nav > li > a:last-child {
	border-bottom-right-radius: 0;
	-moz-border-bottom-right-radius: 0;
}
#shopModal div.bhoechie-tab-menu ul.nav > li > a > h4 {
	font-family:'Lato';
	font-size:15px;
	font-weight:300;
}
#shopModal div.bhoechie-tab-menu ul.nav > li.active > a,
#shopModal div.bhoechie-tab-menu ul.nav > li.active > a .glyphicon,
#shopModal div.bhoechie-tab-menu ul.nav > li.active > a .fa {
	background-color: #b7413f;
	background-image: #b7413f;
	color: #ffffff;
}
#shopModal div.bhoechie-tab-menu ul.nav > li > a {
	background-color: #DB504B;
	background-image: #DB504B;
	color: #ffffff;
}
#shopModal .profile-name h2 {
	color:#DB504B;
}
#shopModal .profile-name h6 i{
	color:#DB504B;
}
#shopModal .profile-data h2{
	color:#DB504B;
}
#shopModal .profile-box h5 {
	color:#DB504B;
}
/* SEX SHOP -> VERTICAL TABS END */

/* NIGHT CLUB -> VERTICAL TABS */
#clubModal div.bhoechie-tab-container {
	z-index: 10;
	background-color: #eaebed;
	padding: 0 !important;
	border:1px solid #ddd;
	background-clip: padding-box;
	width:945px;
	border:0;
}
#clubModal div.bhoechie-tab-menu{
	background-color:#4AC4AD;
}
#clubModal div.bhoechie-tab-menu ul.nav {
	margin:0;
	padding:0;
}
#clubModal div.bhoechie-tab-menu ul.nav > li {
	float:none;
	margin: 0;
}
#clubModal div.bhoechie-tab-menu ul.nav > li > a .glyphicon,
#clubModal div.bhoechie-tab-menu ul.nav > li > a .fa {
	color: #5A55A3;
}
#clubModal div.bhoechie-tab-menu ul.nav > li > a:first-child {
	border-top-right-radius: 0;
	-moz-border-top-right-radius: 0;
	border-top-left-radius:0;
	-moz-border-top-left-radius:0
}
#clubModal div.bhoechie-tab-menu ul.nav > li > a:last-child {
	border-bottom-right-radius: 0;
	-moz-border-bottom-right-radius: 0;
}
#clubModal div.bhoechie-tab-menu ul.nav > li > a > h4 {
	font-family:'Lato';
	font-size:15px;
	font-weight:300;
}
#clubModal div.bhoechie-tab-menu ul.nav > li.active > a,
#clubModal div.bhoechie-tab-menu ul.nav > li.active > a .glyphicon,
#clubModal div.bhoechie-tab-menu ul.nav > li.active > a .fa {
	background-color: #009c98;
	background-image: #009c98;
	color: #ffffff;
}
#clubModal div.bhoechie-tab-menu ul.nav > li > a {
	background-color: #4AC4AD;
	background-image: #4AC4AD;
	color: #ffffff;
}
#clubModal .profile-name h2 {
	color:#4AC4AD;
}
#clubModal .profile-name h6 i{
	color:#4AC4AD;
}
#clubModal .profile-data h2{
	color:#4AC4AD;
}
#clubModal .profile-box h5 {
	color:#4AC4AD;
}
/* NIGHT CLUB -> VERTICAL TABS END */

.list-group-item {
	border:0!important;
}
.close {
	background-image: url("../images/icons/profil/close.png");
	color:#fff;
	font-weight:100;
	opacity:1;
	border-radius:50%;
	border:2px solid #fff!important;
	width:50px;
	height:50px;
	font-size:20px;
}
.pad-l-5 {
	padding-left:5px!important;
}
.bhoechie-tab {
	width:840px;
	margin:0 0 0 105px !important;
	padding:0 !important;
	position:relative;
	z-index:90;
}
div.bhoechie-tab-menu {
	position:absolute;
	padding: 0;
	height:100%;
	width:105px;	
	z-index:99;
}
/* end of VERTICAL TABS */


/* MODAL COMMON HEADER */
.profile-info {
	background-color: #fff;
    height: 75px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
}
.verified-profile {
	background-color: #00c734;
    height: 75px;
    margin: 0;
    padding: 5px;
    width: 65px;
}
.verified-profile h6{
	font-weight:400;
	font-family:'Lato';
	font-size:10px;
	color:#fff;
	text-align:center;
	margin-top:5px;
	padding-top:0;
}
.verified-profile img{
	margin:0 auto;
	display:block;	
	padding-top:5px;
}
.profile-name{
    padding-bottom: 8px;
    padding-top: 7px;
}
.profile-name h2 {
	font-family:'Lato';
	font-weight:400;
	font-size:18px;
	padding:5px 0 5px 0;
	margin:0;
	font-weight:bold;
}
.profile-name p.open{
	background-color:#00c734;
	color:#fff;
	font-size:10px;
	padding:1px 4px;
	margin:10px 0 0 0;
}
.profile-name p.closed{
	background-color:#000;
	color:#fff;
	font-size:10px;
	padding:1px 4px;
	margin:15px 0 0 0;
}
.profile-name h6 {
	padding:0 0 2px 0;
	margin:0;
	color:#9b9b9b;
	width:100%;
}
.profile-data {
	height:75px;
	border-right:1px solid #eaebed;
	padding-left:15px;
	padding-right:15px;
}
.profile-data a {
	text-decoration:none;
}.profile-data h2{
	font-family:'Lato';
	font-weight:200;
	font-size:35px;
	text-align:center;
	margin:0;
	padding:5px 0 0 0;
}
.profile-data h2 i{
	font-size:25px;
	margin:0;
	padding-left:10px;
}
.profile-data h2 span{
	font-family:'Lato';
	font-weight:200;
	font-size:10px;
	text-align:center;
	margin:0;
	padding:10px 0 0 0;
}
.border-left {
	border-left:1px solid #eaebed;
}
.no-border {
	border:0!important;
}
.profile-data p{
	font-family:'Lato';
	font-weight:400;
	font-size:12px;
	color:#cacaca;
	text-align:center;
	margin:0;
	padding:2px 0 0 0;
}
.clear-left {
	clear:left;
	padding:0;
	margin:0;
}
.modal-map {
	position:relative;
	width:100%;
	height:175px;
}
.profile-pic-map {
	position:relative;
	z-index:99;
	height:140px;
	overflow:hidden;
}
/* MODAL COMMON HEADER */


/* PROFIL SECTION */
.profile-boxes {
	margin:30px 15px;
}
.profile-box {
	background-color: #fff;
}
.profile-box .nano {
	height:200px;
	max-height:200px;
}
.profile-box .profil-head {
	border-bottom: 1px solid #f7f7f7;
    display: inline-block;
    width: 100%;
}
.profile-box .profil-head h5 {
	font-weight:bold;
	margin:20px 0;
}
.profile-box .profil-head i.fa {
	margin:10px 0;
	color:#b5b5b5;
}
.profile-box .profil-logo {
	text-align:center;
	margin:15px 0;
}
.profile-box .profil-desc {
	margin: 15px 0;
	color:#aaafb1;
}
.profile-box .profil-desc .gallery-big {
	margin-bottom:5px;
}.profile-box .profil-desc .gallery-big > img {
	width:100%;
}
.profile-box .profil-desc .contact-map {
	position:relative;
	height:300px;
	width:100%;
}
.profile-box .profil-footer {
	background-color:#f7f7f7;
	position:relative;
}
.profile-box .profil-footer ul {
	list-style:none;
	padding:0;
	margin:0;
}
.profile-box .profil-footer p {
	color:#889093;
	font-size:12px;
}
.profile-box .profil-footer ul.left {
	background-color:#d1d1d1;
	float:left;
}
.profile-box .profil-footer ul.right {
	float:right;
}
.profile-box .profil-footer ul li {
	display:inline-block;
}
.profile-box .profil-footer ul li > a {
	padding:0 5px;
}
.profile-box .profil-footer ul.left li:last-child a {
	padding-right:0;
}
.profile-box .profil-footer > a, .profile-box .profil-footer > p {
	color:#929292;
	display:block;
	text-decoration:none;
	text-align:center;
	padding:3px 0;
	margin:0;
}
.profile-box .profil-footer > a > i {
	position:absolute;
	right:15px;
	top:4px;
	color:#929292;
	font-size:16px;
}
.profil-footer .open {
	background-color: #00c734;
    color: #fff;
    font-size: 10px;
    margin-left: 10px;
    padding: 1px 4px;
}


/* end of PROFILE */

/* start of SERVICII */
.service-item {
	background-color:#f9f9f9;
	margin-bottom:25px;
	margin-top:20px;
}
.service-item h5 {
	font-weight:bold;
	color:#929292 !important;
}
.service-item p {
	font-weight:normal;
	color:#929292;
}
.service-item ul {
	list-style:none;
	padding:0;
	margin:0;
}
.service-item ul li {
	display: inline-block;
    margin: 0 5px 15px 5px;
}
.service-footer table {
	margin-top:20px;
}
/* end of SERVICII */

/* start of JOBURI */
.joburi-item p {
	color:#373737;
	font-size:13px;
}
.joburi-item h6 {
	font-size:16px;
	color:#373737;
}

.nav-tabs {
	border:none;
	margin-left:1px;
}
.nav-tabs > li > a {
	outline:none;
	border: none;
	border-radius:0;
	margin-right: 0;
	color:#fff;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
	border:none;
	background:none;
	color:#fff;
}
.nav-tabs > li > a:hover {
	border:none;
	background:none;
	color:#fff;
}
.tab-content > .tab-pane {
	padding:0;
	margin:0;
}
div.tab_salon {
	background-color:#560f2c;
	border-left:2px solid #d21258;
	border-bottom:2px solid #d21258;
	border-right:2px solid #d21258;
	border-top:1px solid #d21258;
	position:relative;
}
div.tab_shop {
	background-color:#db504b;
	border-left:2px solid #b7413f;
	border-bottom:2px solid #b7413f;
	border-right:2px solid #b7413f;
	border-top:1px solid #b7413f;
	position:relative;
}
div.tab_club {
	background-color:#4ac4ad;
	border-left:2px solid #009c98;
	border-bottom:2px solid #009c98;
	border-right:2px solid #009c98;
	border-top:1px solid #009c98;
	position:relative;
}
div.tab_salon.active {
	z-index:1;
}
div.tab_shop.active {
	z-index:1;
}
div.tab_club.active {
	z-index:1;
}
.nav-tabs > li {
	margin-bottom:-2px;
}
li.tab_salon {
	background-color:#560f2c;
	border-left:5px solid #d21258;
	border-top:5px solid #d21258;
	border-right:2.5px solid #d21258;
	padding:0;
}
li.tab_shop {
	background-color:#db504b;
	border-left:2.5px solid #b7413f;
	border-top:5px solid #b7413f;
	border-right:2.5px solid #b7413f;
	padding:0;
}
li.tab_club {
	background-color:#4ac4ad;
	border-left:2.5px solid #009c98;
	border-top:5px solid #009c98;
	border-right:5px solid #009c98;
	padding:0;
}
li.tab_salon.active {
	background-color:#560f2c;
	border-left:2px solid #d21258;
	border-top:2px solid #d21258;
	border-right:2px solid #d21258;
	z-index:2;
	padding:2px 0 0;
}
li.tab_shop.active {
	background-color:#db504b;
	border-left:2px solid #b7413f;
	border-top:2px solid #b7413f;
	/*border-right:2px solid #b7413f;*/
	z-index:2;
	padding:2px 0 0;
}
li.tab_club.active {
	background-color:#4ac4ad;
	/*border-left:2px solid #009c98;*/
	border-top:2px solid #009c98;
	border-right:2px solid #009c98;
	z-index:2;
	padding:2px 0 0;
}
#gmap {
	width:100%;
	height:100%;
	position:absolute;
	right:0;
	top:0;
	left:0;
	bottom:0;
}
.modal-backdrop.in {
	opacity:0.8;
}


@media print {
   .gmnoprint {display: none;}
}
.gm-style-cc { display:none; }
img[src="http://maps.gstatic.com/mapfiles/api-3/images/google_white2.png"] {
	display:none;
}

.modal-backdrop {
	position:fixed;
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
	width:300px;
	height:181px;
}

.big-image {
	text-align:center;
	background:#fff;
}
.big-image > img {
	height:400px !important;
	max-height:400px !important;
	width:auto !important;
	max-width:100% !important;
	display:inline-block !important;
}
.gallery-thumb {
	margin-bottom:3px;
}

.galthumb {
	margin:0 2px !important;
}
.galthumb > img {
	cursor:pointer;
}

#salon-galerie {
	min-height:450px;
}


.pace {
	-webkit-pointer-events: none;
	pointer-events: none;
	
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}
.pace-inactive {
	display: none;
}
.pace .pace-progress {
	background: #560F2C;
	position: fixed;
	z-index: 2000;
	top: 0;
	right: 100%;
	width: 100%;
	height: 2px;
}


.modal-loading {
	background:url(../images/ajax-loader.gif) no-repeat 50% 50% rgba(0,0,0,0.75);
	position:absolute;
	width:100%;
	height:100%;
	z-index:2000;
}

.search-box .radio label, .checkbox label {
	width:48%;
	vertical-align:top;
	word-break:break-all;
}
.search-box .radio, .checkbox {
	margin-top:0;
}

[data-toggle="tooltip"] {
	cursor:pointer;
}

.modal-dialog {
	width:945px;
}


.flex-direction-nav a::before {
	font-size:30px;
}

.gm-style div {
    color: #fff !important;
    font-size: 13px !important;
    line-height: 32px !important;
}


.login-fb-section {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9;
}
.login-fb-section > ul {
    list-style: outside none none;
}
.login-fb-section li {
    display: inline-block;
    margin: 5px;
}

.menu-toggle-wrap {
    float: left;
    left: -20px;
    position: relative;
}
.menu-toggle {
	height:44px;
	width:14px;
	display:block;
	text-decoration:none;
	outline:none;
}
.menu-toggle:hover, .menu-toggle:focus {
	text-decoration:none;
}
.menu-toggle.slide-out {
	background:url(../images/slide-out.png) no-repeat 0 0;
}
.menu-toggle.slide-in {
	background:url(../images/slide-in.png) no-repeat 0 0;
}

.ModalPush {
	cursor:pointer;
}

.gm-style div.tooltip {
	font-size: 12px !important;
	line-height: 1.4 !important;
}

a[href='https://maps.google.com/maps?ll=49.404613,26.1025&z=5&t=m&hl=en-US&gl=US&mapclient=apiv3'] {
	display:none !important;
}
.gmnoprint {
	display:none !important;
}