<div class="panel-body" style="margin-top:100px;">
    <div class="row">
        <a href="{$base_url}/admin/edit-location/?type=salon&LID={$LID}&action={$action}" class="btn-masaj btn hvr-float-shadow">MASAJ EROTIC</a>
    </div>  
    <div class="row">
        <a href="{$base_url}/admin/edit-location/?type=shop&LID={$LID}&action={$action}" class="btn-shop btn hvr-float-shadow">SEX SHOP</a>
    </div>
    <div class="row">
        <a href="{$base_url}/admin/edit-location/?type=club&LID={$LID}&action={$action}" class="btn-night btn hvr-float-shadow">NIGHT CLUB</a>
    </div>
</div>