<div class="panel-body contul-meu">
    <div class="row">
        <div class="col-lg-12">
            <h2>{$AUNAME} <br> Bine ai venit in panoul de administrare! </h2>
        </div>
    </div>
</div>