			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
var asset_url = "{$asset_url}";
var base_url = "{$base_url}";
</script>
<script src="{$asset_url}/bower_components/jquery/dist/jquery.min.js"></script>
<script src="{$asset_url}/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="{$asset_url}/bower_components/bootstrap-timepicker/js/bootstrap-timepicker.min.js"></script>
<script src="{$asset_url}/bower_components/metisMenu/dist/metisMenu.min.js"></script>
<script src="{$asset_url}/bower_components/hourpicker/bootstrap-clockpicker.js"></script>
<script src="{$asset_url}/dist/js/jquery-ui.js"></script>
<script src="{$asset_url}/dist/js/sb-admin-2.js"></script>
</body>
</html>