<div class="panel-body" style="margin-top:100px;">
    <div class="row">
        <a href="{$base_url}/admin/create-location/?type=salon" class="btn-masaj btn hvr-float-shadow">MASAJ EROTIC</a>
    </div>  
    <div class="row">
        <a href="{$base_url}/admin/create-location/?type=shop" class="btn-shop btn hvr-float-shadow">SEX SHOP</a>
    </div>
    <div class="row">
        <a href="{$base_url}/admin/create-location/?type=club" class="btn-night btn hvr-float-shadow">NIGHT CLUB</a>
    </div>
</div>